@media screen and (max-width : 480px){
	.top{
        margin-top: 13%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .card{
        width: 200px;
        height:100px;
    }
    .context{
        font-size: 20px;
        text-align: center;
    }
    
}